.navbar{

  width: 100%;
  background-color: #414654;
  height: 60px;

  .logo  img {
    display: inline-block;
    margin-left : 50px;

  }

}

.navul{
  // list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navul li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
  color: white;
  font-family: "HCo Gotham SSm";
  font-size: 12px;
}





