<div class="col-md-12 navbar">
  <div class="col-md-4 logo">
    <span routerLink="/" routerLinkActive="active">
      <img src="../assets/instahyre/logo.webp" alt="" />
    </span>

  </div>
  <div class="col-md-7">
    <nav>
      <ul class="navul">
        <li>
          <a>
            <span routerLink="/activity" > Activity </span>
          </a>
        </li>
        <li>
          <a>
            <span routerLink="/opportunities"> Opportunity </span>
          </a>
        </li>
        <li>
          <a>
            <span routerLink="/inbox" > Inbox </span>
          </a>
        </li>
        <li>
          <a>
            <span routerLink="/profile" > Profile </span>
          </a>
        </li>
        <li>
          <a>
            <span routerLink="/settings" > Settings </span>
          </a>
        </li>

        <li>
          <a>
            <span> Signout </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
<div class="col-md-1"></div>
</div>
