.total-jobs{
  color: white;
  font-size: 20px;
}

.recommended-jobs{
  color: white;
  font-size: 15px;
}

.app-row{
  background-color: #4C5365;
}

.app-img-geo-icon{
  color: orange;
}

.btn-view{
  background-color: #19a58e;
  border: 1px solid #09e8c2;
}


.card-body{
  border: 2px solid EDEDED;
}
