 <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 mx-auto text-center pt-2 align-content-center">
        <p class="total-jobs">Showing 1 - 19 out of 19</p>
      </div>
      <div class="col-md-4 mx-auto text-center align-content-center">
        <p class="recommended-jobs">recommended jobs for you</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-8 mx-auto">

          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                    <img src="../../assets/instahyre/b80dc7cb49090a00550b059784f40992.webp" alt="">
                </div>
                <div class="col-md-6">
                  <h5 class="card-title text-center">Bazzi Games - QA Engineer - Automation</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="col-md-3">

                </div>
              </div>

              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
